
@{
    ViewBag.Title = "NotExistPatient";
}

<div class="row">
    <div class="col col-md-5 col-md-offset-3 text-center">
        <h2>This patient not exist</h2>
        You can create new patient: <a href='@Url.Action("Add", "Patients")' class="btn btn-primary">Add</a>
    </div>
</div>
